body{
    background-image: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 10px;
    box-sizing: border-box;
}
#digitalClock{
    font-family: monospace;
    font-size: 9vw;
    font-weight: bold;
    text-align: center;
    color: white;
    width: 100%;
    backdrop-filter: blur(5px);
}